<main>
  <header>
    <h1>Posts</h1>
    <a href="/">view posts</a>
  </header>
  <form action="/new-post" method="post">
    <input name="nickname" type="text" placeholder="Nickname" />
    <textarea name="content" placeholder="Enter your text ..."></textarea>
    <button type="submit">Publish</button>
  </form>
</main>
